<!-- Inicio Navegador reflexivo modificar -->
<p>
  <button
    class="btn btn-secondary"
    type="button"
    id="informacion_general_modificar_btn"
    onclick="modificar_informacion_boton_reflexivos('modificar_informacion_general_reflexivos')"
  >
    Paso 1: Información General
  </button>
  <span id="btn-reflexivos-modificar" class="">
    <span class="text-primary">&gt;</span>
    <button
      class="btn btn-link"
      id="metodos_modificar_btn"
      type="button"
      onclick="modificar_informacion_boton_reflexivos('modificar_metodos_modelos_reflexivos')"
    >
      Paso 2: Métodos de aprendizaje y razonamiento
      <span id="btn-reflexivos-3-modificar" class="">
	&gt; Paso 3: Párametros y recomendaciones
      </span>
    </button>
  </span>
</p>
<div class="row">

  <div class="col-12">
    <div
      class="collapse multi-collapse show"
      id="modificar_informacion_general_reflexivos"
    >
      <div class="card card-body">
      	<!-- Inicio Modificar procesos reflexivos -->
        <%- include('modal/modificar_proceso_reflexivo'); %>
      	<!-- Fin Modificar procesos reflexivos -->
      </div>
    </div>
  </div>

  <div class="col-12">
    <div
      class="collapse multi-collapse"
      id="modificar_metodos_modelos_reflexivos"
    >
      <div class="card card-body">
      	<!-- Inicio Modificar metodos reflexivos -->
        <%- include('modal/modificar_metodos_modelos_reflexivos'); %>
      	<!-- Fin Modificar metodos reflexivos -->
      </div>
    </div>
  </div>

</div>

<!-- Inicio botones -->
<div class="container">
  <div class="row">
    <div class="col">
      <button
        type="button"
        id="btn-saltar-modificar_reflexivos"
        class="d-inline btn btn-secondary btn-lg btn-block mt-3 mx-4 mb-2"
        onclick="saltar_proceso_reflexivo_boton()"
      >
        Saltar (Información General)
      </button>
    </div>
  </div>
</div>
<!-- Fin botones -->

<%- include('modal/modal_mapeo_metodo'); %> <%-
include('modal/modal_mapeo_modelos'); %> <%-
include('modal/modal_escenarios_simulacion'); %> <%-
include('modal/modal_variables_simulacion'); %>
<%- include('../pre_reflexivos/modal/modal_modificar_recomendaciones'); %>
<!-- Fin Navegador reflexivo modificar -->
