<div class="" id="pagina_proceso_modificar">
    <div class="row">
        <div class="col">
            <input type="text" class="d-none" id="id_proceso_reflexivo_modificar" value="<%= modificar.id %>">
            <input type="text" class="d-none" id="id_sujeto" value="<%= modificar.sujeto %>">
            <input type="text" class="d-none" id="id_aspecto" value="<%= modificar.aspecto %>">
            <div class="form-group mt-4 row">
                <label for="" class="col-sm-3 col-form-label">Nombre:</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="input-name-proceso-reflexivo_modificar" style=" text-transform:uppercase;" onkeyup="javascript:this.value=this.value.toUpperCase();" value="<%= modificar.nombre %>" />
                </div>
            </div>
            <div class="form-group row ">
                <label for=" " class="col-sm-3 col-form-label ">Descripción:</label>
                <div class="col-sm-7">
                    <textarea type="text " class="form-control " id="input-descripcion-proceso-reflexivo_modificar" style="text-transform:uppercase; " onkeyup="javascript:this.value=this.value.toUpperCase();"><%= modificar.descripcion %></textarea>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h6>Periodo de ejecucion:</h6>
            <div class="col card" style="height: 55px;">
                <div class="form-group mt-2 row">
                    <label for="" class="col-sm-2 col-form-label">Inicio:</label>
                    <input type="date" id="inicio_del_periodo_reflexivo_modificar" name="inicio_del_periodo_reflexivo_modificar" value="<%= modificar.inicio %>" min="2020-01-01" max="2050-01-01">
                    <label for="" class="col-sm-2 col-form-label">Fin:</label>
                    <input type="date" id="fin_del_periodo_reflexivo_modificar" name="fin_del_periodo_reflexivo_modificar" value="<%= modificar.fin %>" min="2020-01-01" max="2050-01-01">
                </div>
                <div class="row">
 <h6 class="text-center">Aspectos de autoconsciencia</h6>
        <div class="input-group col-11">
            <select class="custom-select" name="Aspectos_autoconsciencia_modificar_reflexivos" id="Aspectos_autoconsciencia_modificar_reflexivos" disabled>
                   <option value="<%= modificar.aspecto_id %>"><%= modificar.aspecto_nombre %></option>
                 </select>
        </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h6>Sujetos de autoconsciencia:</h6>
            <div id="sujetos_activos_proceso_modificar_reflexivos" class="card col-12 col-lg-10" style="overflow-y: auto;height: 166px;">
                <ul id="lista_sujetos_activos_proceso_reflexivo_modificar"></ul>
            </div>
        </div>
        <div class="col-6">
            <div class="mt-2">
                <h6>Categoría de objetos:</h6>
                <div class="input-group col-11">
                    <select class="custom-select" name="CategoriaEntidadesProcesosReflexivos" id="CategoriaEntidadesProcesosReflexivos" disabled>
                                <% switch (modificar.objeto_tipo) {
                                    case 'CloudNode' : %>
                                    <option value="2">Nodos Cloud</option>
                                            <% break;
                                    case 'PhysicalEntity' : %>
                                    <option value="1">Entidades Físicas</option>
                                            <% break;
                                    case 'Network' : %>
                                    <option value="8">Red</option>
                                            <% break;
                                    case 'Middleware' : %>
                                    <option value="2">Nodos Cloud</option>
                                            <% break;
                                    case 'NetworkInterface' : %>
                                    <option value="4">Gateway IoT</option>
                                            <% break;
                                    case 'Actuator' : %>
                                    <option value="7">Actuadores</option>
                                            <% break;
                                    case 'IoTGateway' : %>
                                    <option value="4">Gateway IoT</option>
                                            <% break;
                                    case 'FogNode' : %>
                                    <option value="3">Nodos Fog</option>
                                            <% break;
                                    case 'Tag' : %>
                                    <option value="6">Tags</option>
                                            <% break;
                                    case 'Sensor' : %>
                                    <option value="5">Sensores</option>
                                            <% break;                                            
                                    } %>
                                    </select>
                </div>
                <h6>Objeto de autoconsciencia:</h6>
                <div class="col-sm-11">
                    <div id="entidades_seleccionados_area_procesos_reflexivos" class="card col-lg-12" style="overflow-y: auto;height: 100px;">
                        <ul id="<%= modificar.objeto_id %>">
                            <%= modificar.objeto_nombre %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
           </div>
