<div id="modal_metodo_mod_reflexivos" class="container-fluid d-none">
    <nav class="mt-4">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-recoleccion-tab" data-toggle="tab" href="#nav-recoleccion" role="tab" aria-controls="nav-recoleccion" aria-selected="true">Método de cálculo</a>
            <a class="nav-item nav-link" id="nav-modelo-tab" data-toggle="tab" href="#nav-modelo" role="tab" aria-controls="nav-modelo" aria-selected="false">Modelo de análisis de datos</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-recoleccion" role="tabpanel" aria-labelledby="nav-recoleccion-tab">
            <div class="row mt-3" id="formularios_divididos">
                <div class="col-7">
                    <div class="col card input-group mb-2 mt-2" style="height: 40px; width: auto;">
                        <div class="form-group mt-2 row">
                            <label class="col">Inicio:</label>
                            <input type="date" id="inicio_metodos_reflexivos_modificar" name="inicio_metodos_reflexivos_modificar" value="<%= modificar.inicio_metodo_calculo %>">
                            <label for="" class="col">Fin:</label>
                            <input type="date" id="fin_metodos_reflexivos_modificar" name="fin_metodos_reflexivos_modificar" value="<%= modificar.fin_metodo_calculo %>">
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="">Tipo de recurso: </label>
                        </div>
                        <select class="custom-select" name="tipo_recurso_metodos_reflexivo_modificar" id="tipo_recurso_metodos_reflexivo_modificar" onchange="" disabled>
                            <option value="0"  <% if(modificar.recursoMetodo==0){ %>selected<% } %>>Fórmula</option>
                            <option value="1"  <% if(modificar.recursoMetodo==1){ %>selected<% } %>>Función</option>
                            <option value="2"  <% if(modificar.recursoMetodo==2){ %>selected<% } %>>Servicio</option>
                  </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="recurso">Recurso:</label>
                        </div>
                        <select class="custom-select" name="recurso_reflexivos_modificar" id="recurso_reflexivos_modificar" disabled>
                    </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="variables_simulacion_modificar" type="button" onclick="AbrirModalAgregarVariablesSimulacion();" disabled>Variables de simulación</button>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="escenario_simulacion_modificar" type="button" onclick="abrirModalEscenarioSimulacion();" disabled>Escenarios de simulación</button>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="mapeo_parametros_btn_metodos_modificar" type="button" onclick="abrirMapeoParametros_metodos();" disabled>Mapeo de parametros</button>
                        </div>
                    </div>

                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Métrica indirecta de salida: </label>
                        </div>
                        <select class="custom-select" name="metrica_indirecta_reflexivos_modificar" id="metrica_indirecta_reflexivos_modificar">
                            <option value="<%= modificar.indirecta_id%>"><%= modificar.indirecta %></option>
                  </select>
                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-modelo" role="tabpanel" aria-labelledby="nav-modelo-tab">
            <div class=" row justify-content-center mt-3" id="formularios_divididos2">
                <div class="col-7">
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="">Tipo de recurso: </label>
                        </div>
                        <select class="custom-select" name="tipo_recurso_modelos_reflexivos_modificar" id="tipo_recurso_modelos_reflexivos_moficar" disabled>
                            <option value="0"  <% if(modificar.recurso==0){ %>selected<% } %>>Fórmula</option>
                            <option value="1"  <% if(modificar.recurso==1){ %>selected<% } %>>Función</option>
                            <option value="2"  <% if(modificar.recurso==2){ %>selected<% } %>>Servicio</option>
                  </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="recurso">Recurso:</label>
                        </div>
                        <select class="custom-select" name="recurso_modelos_reflexivos_modificar" id="recurso_modelos_reflexivos_modificar" disabled>
                    </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="mapeo_parametros_modelo_modificar" type="button" onclick="abrirMapeoParametros_modelos();" disabled>Mapeo de parametros</button>
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" id="">Indicador: </label>
                        </div>
                        <select class="custom-select" name="indicador_modelo_modificar" id="indicador_modelo_modificar">
                            <option value="<%= modificar.indircador_id%>"><%= modificar.indicador %></option>
                  </select>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="criterio_de_decision_modelo_modificar">Criterio de decisión:</label>
                        </div>
                        <select class="custom-select" name="criterio_de_decision_modelo_modificar" id="criterio_de_decision_modelo_modificar" disabled>
                            <option value="<%= modificar.criterio_id %>"><%= modificar.criterio %></option>
                  </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="btn-recomendaciones_model_modificar" type="button" onclick="" disabled>Recomendaciones prescriptivas</button>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                </div>
            </div>
        </div>
    </div>
</div>