<%- include('parts/before_the_body'); %>
    <%- include('parts/sidebar_menu'); %>

        <div id="layoutSidenav_content">
            <main id="model_page" class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-4">
                        <h1 class="mt-4">Crear Modelo</h1>
                    </div>
                    <div class="col-3">
                        <h3 class="mt-4">Modelo:
                            <%- session.active_model.nombre %>
                        </h3>
                    </div>
                </div>
                <%- include('parts/create_model/cargar_modelo'); %>


            </main>
        </div>

        <%- include('parts/after_the_body'); %>