<%- include('parts/before_the_body'); %>
    <%- include('parts/sidebar_menu'); %>
        <div id="layoutSidenav_content">
            <main id="object_page" class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-5">
                    </div>
                    <div class="col-3">
                        <h4 class="mt-4">Area de Trabajo:
                            <%- session.active_model.nombre %>
                        </h4>
                    </div>
                </div>
                <hr style="border-color:#3498DB;">
                <h2 class="text-center">Objetos de autoconsciencia</h2>
                <br>

                <%- include('parts/objects/SelectSubject'); %>
                    <br>
                    <%- include('parts/objects/CategoryEntities'); %>
                        <br>
                        <%- include('parts/objects/Available_Entities'); %>
                            <%- include('parts/objects/modal/modal_Entity'); %>
                                <h2 class="mt-4">Aspectos de autoconsciencia</h2>
                                <br><br>
                                <%- include('parts/objects/Aspects_Self'); %>
            </main>
        </div>
        <%- include('parts/after_the_body'); %>