<%- include('parts/before_the_body'); %>
    <%- include('parts/sidebar_menu'); %>

        <div id="layoutSidenav_content">
            <main id="subject_page" class="container-fluid">

                <div class="row justify-content-between">
                    <div class="col-5">
                    </div>
                    <div class="col-3">
                        <h3 class="mt-4">Modelo:
                            <%- session.active_model.nombre %>
                        </h3>
                    </div>
                </div>
                <h2 class="text-center">Sujetos de autoconsciencia</h2>
                <br>
                <%- include('parts/subjects/subject_selection'); %>
                    <%- include('parts/subjects/modals/subject_objectives'); %>
            </main>
        </div>

        <%- include('parts/after_the_body'); %>