<%- include('parts/before_the_body'); %>
    <%- include('parts/sidebar_menu'); %>
        <div id="layoutSidenav_content">
            <main id="subject_page" class="container-fluid">
                <div class="row justify-content-between">
                    <div class="col-12 shadow p-3 mb-5 bg-white rounded">
                        <h4 class="text-right">Area de Trabajo:
                            <%- session.active_model.nombre %>
                        </h4>
                    </div>
                </div>
                <h2 class="text-center">Sujetos de autoconsciencia</h2>
                <%- include('parts/subjects/subject_selection'); %>
                    <%- include('parts/subjects/modals/subject_objectives'); %>
            </main>
        </div>
        <%- include('parts/after_the_body'); %>